.App {
  text-align: center;
  background-color: white;
  /* background-color: rgb(70,70,70); */
  height: 100%;
  width: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 99%;
  transition: background-color 0.5s;
}

.topbar.solid {
  background: radial-gradient(#212121, #525252);
  transition: background-color 0.5s;
  -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
}

.topbar > .topbar-menu > span {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:  10px 20px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.topbar > .topbar-menu > span:hover {
  cursor: pointer;
  background-color: gray;
  transition: background-color 0.2s;
}


.top {
  height: 400px;
  width: 100%;
  background-color: gray;
  background-image: url("../public/coding4.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: -75px;
}

.top-descr {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 40%;
  line-height: 30px;
  font-size: 50px;
}

.bot {
  height: 700px;
  width: 100%;
}
