.App {
  background-color: white;
  /* background-color: rgb(70,70,70); */
  height: 100%;
  width: 100%;
  min-width: 600px;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: fixed;
  height: 40px;
  width: 99%;
  transition: background-color 0.5s;
}

.topbar.solid {
  /* background: linear-gradient(#424242, #525252); */
  background: linear-gradient(rgba(72, 72, 72, 1), rgba(82, 82, 82, 1));
  /* transition: background-color 0.5s; */
  -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  animation: invis 0.1s;
}

.topbar > .topbar-menu > a {
  text-decoration: none;
}

.topbar > .topbar-menu > a > span {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:  10px 20px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.topbar > .topbar-menu > a > span:hover {
  cursor: pointer;
  background-color: gray;
  transition: background-color 0.2s;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.top-button-container {
  width: 20%;
}

.top-button-container > button {
  display: flex;
  background: none;
  border: none;
  color: white;
  justify-content: center;
  background-color: rgb(34, 177, 76);
  border-radius: 40px;
  font-family: Quicksand;
  font-size: 17px;
  animation: invis2 1s;
  padding: 20px 0;
  width: 100%;
  transition: background-color 0.25s;
}

.top-button-container > button:hover {
  background-color: rgb(24, 157, 56);
  cursor: pointer;
  transition: background-color 0.25s;
}


.top {
  height: 400px;
  background-color: gray;
  background-image: url("../public/coding4.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: -75px;
  flex-direction: column;
  animation: move_img 3s;
}

.top-left {
  animation: invis2 1s;
  width: 50%;
  margin-bottom: 30px;
}

.top-descr {
  color: white;
  font-family: Quicksand;
  width: 100%;
  /* line-height: 30px;Ø */
  font-size: 50px;
  text-align: center;
}

.top-text {
  width: 100%;
  color: white;
  font-family: Quicksand;
  text-align: center;
}

.about-us {
  margin-top: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.who-content {
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(72, 72, 72, 1);
  margin: 50px;
  padding: 0 20px;
}

.people {
  /* padding: 20px; */
  padding: 20px;
}

.people > .person {
  justify-content: center;
  align-items: center;
}

.people > .person > span {
  font-family: Quicksand;
}

.people > .person > span.person-name {
  font-size: 20px;
}

.people > .person > a {
  font-family: Quicksand;
  color: black;
}

.people > .person > img {
  width: 60%;
  margin-bottom: 10px;
  /* border-radius: 100%; */
  /* border: 4px solid rgba(72, 72, 72, 1); */
}

.who-content > span {
  color: rgba(72, 72, 72, 1);
  font-family: Quicksand;
}

.divider {
  height: 75px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  font-family: Quicksand;
  font-style: italic;
  color: rgba(72, 72, 72, 1);
}

.quote-suffix {
  font-family: Quicksand;
  margin-left: 10px;
  color: rgba(72, 72, 72, 1);
}

.who-header {
  font-size: 40px;
  border-bottom: 1px solid rgba(72, 72, 72, 1);
  margin-bottom: 20px;
}

.bot {
  height: 700px;
  width: 100%;
}

.portfolio-body {
  background: linear-gradient(rgba(72, 72, 72, 1), rgba(82, 82, 82, 1));
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-construction-icon {
  font-size: 10rem;
  color: rgba(50, 50, 50, 1);
  margin-bottom: 2%;
}

.under-construction-text {
  font-family: Quicksand;
  color: rgba(50, 50, 50, 1);
  font-size: 4rem;
}

.what-we-do {
  margin-top: 100px;
  /* height: 500px; */
  width: 100%;
  align-items: center;
}

.what-we-do > h1 {
  font-family: Quicksand;
  color: rgba(72, 72, 72, 1);
  font-weight: 100;
  font-size: 40px;
  border-bottom: 1px solid rgba(72, 72, 72, 1);
}

.what-we-do > span {
  font-family: Quicksand;
  color: rgba(72, 72, 72, 1);
  font-weight: 100;
  width: 50%;
  font-size: 20px;
  text-align: center;
}

.contact-us {
  display: flex;
  background-color: rgba(72, 72, 72, 1);
  margin-top: 10%;
  background-color: gray;
  background-image: url("../public/coding5.jpg");
  display: flex;
  flex-direction: column;
  padding: 5%;
  position: relative;
}

.contact-us > h1 {
  color: lightgray;
  font-family: Quicksand;

}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1%;
}

.contact-list-item-icon {
  color: lightgray;
  margin-right: 1%;
  font-size: 1.5rem;
}

.contact-list-item-text {
  color: lightgray;
  font-family: Quicksand;
  font-size: 1rem;
}

.contact-list-item-link {
  color: lightgray;
  font-family: Quicksand;
  font-size: 1rem;
}

.contact-list-item-link:hover {
  color: gray;
}

.socials {
  position: absolute;
  top: 30%;
  right: 20%;
  display: flex;
  flex-direction: row;
}

.socials-link {
  margin-right: 25%;
}

.socials-link:hover {
  color: gray;
}

.socials-icon {
  font-size: 3rem;
  color: lightgray;
  transition: color 0.3s;
}

.socials-icon:hover {
  color: gray;
  transition: color 0.15s;
}

@keyframes move_img {
  0% {
    background-position: -200px;
    background-position-y: -200px;
  }
  100% {
    background-position: -75px;
  }
}

@keyframes invis {
  0% {
    background: linear-gradient(rgba(72, 72, 72, 0), rgba(82, 82, 82, 0));
  }
  10% {
    background: linear-gradient(rgba(72, 72, 72, 0), rgba(82, 82, 82, 0.1));
  }
  20% {
    background: linear-gradient(rgba(72, 72, 72, 0.2), rgba(82, 82, 82, 0.2));

  }
  30% {
    background: linear-gradient(rgba(72, 72, 72, 0.2), rgba(82, 82, 82, 0.3));

  }
  40% {
    background: linear-gradient(rgba(72, 72, 72, 0.4), rgba(82, 82, 82, 0.4));

  }
  50% {
    background: linear-gradient(rgba(72, 72, 72, 0.4), rgba(82, 82, 82, 0.5));

  }
  60% {
    background: linear-gradient(rgba(72, 72, 72, 0.6), rgba(82, 82, 82, 0.6));

  }
  70% {
    background: linear-gradient(rgba(72, 72, 72, 0.4), rgba(82, 82, 82, 0.7));

  }
  80% {
    background: linear-gradient(rgba(72, 72, 72, 0.8), rgba(82, 82, 82, 0.8));

  }
  90% {
    background: linear-gradient(rgba(72, 72, 72, 0.8), rgba(82, 82, 82, 0.9));

  }
  100% {
    background: linear-gradient(rgba(72, 72, 72, 1), rgba(82, 82, 82, 1));
  }
}

@keyframes invis2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand'), local('Quicksand'),
       url('../public/Quicksand-VariableFont_wght.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/Quicksand-VariableFont_wght.ttf') format('woff2'), /* Super Modern Browsers */
       url('../public/Quicksand-VariableFont_wght.ttf') format('woff'), /* Modern Browsers */
       url('../public/Quicksand-VariableFont_wght.ttf') format('truetype'); /* Safari, Android, iOS */
}
